<div class="container">
  <div class="row mt-4 mb-2" style="width: 95vw">
    {{#each posts}}
      <div
        class="col-xs-12 col-sm-6 col-lg-3 m-2 p-4 shadow p-3 mb-5 bg-white rounded"
      >
        <div>
          <img src={{image_url}} alt="" class="img-thumbnail img-responsive" />
          <p class="text-muted">
            Posted
            {{format_date created_at}}
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

          </p>
          <h3>{{title}}</h3>
          <small class="text-muted">
            Topic:
            {{category}}
          </small>
          <p class="text-truncate">
            {{text}}
          </p>
          <a
            href="/post/{{id}}"
            class="btn btn-outline-info"
            role="read-button"
          >Read more...</a>

        </div>
      </div>
    {{/each}}
  </div>

</div>