<div>
    <h1>{{post.title}}</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 panel panel-default">
    <div class="panel-body">
        <img src={{post.image_url}} alt="" class="img-thumbnail img-responsive" />
        <p class="text-muted">
            By
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{user.username}}
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            {{format_date post.created_at}}
        </p>
        <p>
            {{post.text}}
        </p>
    </div>
</div>