<div class="text-center mt-4 mb-5">
  <h1>{{post.title}}</h1>
  <img src={{post.image_url}} alt="" class="img-thumbnail img-responsive" />
  <p class="text-muted m-0">
    Posted
    {{format_date post.created_at}}
  </p>

  <small class="text-muted m-0">
    Topic:
    {{post.category}}
  </small>
  <p class="text-truncate">
    {{post.text}}
  </p>
</div>